<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
        	<remove fileExtension=".moc" />
        	<mimeMap fileExtension=".moc" mimeType="application/x-mocha" />
			<remove fileExtension=".mtn" />
        	<mimeMap fileExtension=".mtn" mimeType="test/mtn" />
    	</staticContent>
    </system.webServer>
</configuration>
